:root {
    --primary-color: yellow;
    --border: 1px solid blue;
    --box-shadow: 10px 10px 10px rgba (0, 0, 0.6);

}
body {
    background-color: aqua;
    font-family: 'Times New Roman', Times, serif;
}
.navbar-brand {
    max-width: 80px;
}
 
h1 {
    color: red;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
h3 {
    color:rgb(38, 0, 255);
    display: flex;
    justify-content:center;
    font-weight: bolder;
}
.special-image-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Set the container height */
}
.special-image {
   max-width: 100%;
    margin: 0 auto;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
  }
  
h2 {
    text-align: center;
    font-weight: bold;
  }
  .special-link {
    display: flex;
    justify-content: center;
    color: brown;
    font-weight: bolder;
    font-size: 30px;
    box-shadow: var(--box-shadow);
  }  
  p {
    display: flex;
    justify-content:right;
  }
  .container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.container .col-sm-4 {
    height: 200px; /* Adjust this value to your desired height */
}
span {
    color: darkred;
    font-size: 25px;
    display: flex;
    justify-content:center;
}
.sample-link {
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;

}
.back-link {
    font-weight: bolder;
    color: crimson;
    font-size: 20px;
    display: flex;
    justify-content: center;
}